<div class="navbar-wagon">
<%= image_tag "wine.png", alt: "Le Wagon", width: 92 %>
<%= link_to "Home", cocktails_path, class: "btn btn-warning" %>
<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-warning" %>
</div>
